<div class="mainCenter" v-show="['user','userBlock'].indexOf(chatState) > -1 && !loding">
    <div class="d-flex">
        <div class="form__group" style="margin-left: 5px;">
            <input v-model="searchUserName" @input="limitText($event,25)" class="form__field" placeholder="نام کاربری">
        </div>
        <div class="form__group" style="margin-left: 5px;">
            <input v-model="searchName" @input="limitText($event,25)" class="form__field" placeholder="نام">
        </div>
    </div>

    <div style="margin-top: 14px;"><button v-on:click="list()" class="btn btn-line close-modal">جستجو</button></div>

    <div v-show="chatState == 'user' && !loding">

        <div v-for="item in listUser">
            <div class="chatMain userChatMain d-flex">

                <div class="chatImg">
                    <div class="chatListUserImg ">
                        <div class="chatUserImg">
                            <img :src="item.img + '90.jpg'">
                        </div>
                    </div>
                </div>

                <div class="chatText">
                    <div class="chatUserName">{{item.Name}}</div>
                    <div class="chatUserName" style="margin-top: 5px">{{item.UserName}}</div>
                </div>

                <div class="iconTextChat">
                    <div v-on:click=" removeFromGroup(item)">
                        <i class="icon-user-1-delete"></i>
                    </div>
                    <div style="margin-top: 5px;">حذف</div>
                </div>

                <div class="iconTextChat">
                    <div v-on:click=" addBlock(item)">
                        <i class="icon-forbidden-24"></i>
                    </div>
                    <div style="margin-top: 5px;">مسدود</div>
                </div>

            </div>
        </div>


    </div>

    <div v-show="chatState == 'userBlock' && !loding">

        <div v-for="item in listBlockUser">
            <div class="chatMain userChatMain d-flex">

                <div class="chatImg">
                    <div class="chatListUserImg ">
                        <div class="chatUserImg">
                            <img :src="item.img + '90.jpg'">
                        </div>
                    </div>
                </div>

                <div class="chatText">
                    <div class="chatUserName">{{item.Name}}</div>
                    <div class="chatUserName" style="margin-top: 5px">{{item.UserName}}</div>
                </div>

                <div class="iconTextChat">
                    <div v-on:click=" removeFromGroup(item)">
                        <i class="icon-close-circle4"></i>
                    </div>
                    <div style="margin-top: 5px;">حذف</div>
                </div>

            </div>
        </div>

    </div>

</div>
<div class="mainBottom">
    <div class="item" style="border-left: 1px solid var(--TextColor2);"
         v-on:click="changeState('user')"
         v-bind:style="{ backgroundColor: chatState == 'user' ? 'rgb(3 218 198 / 60%)' : 'transparent'}">
        اعضا
    </div>
    <div class="item" style="border-left: 1px solid var(--TextColor2);"
         v-on:click="changeState('main')">
        بازگشت
    </div>
    <div class="item"
         v-on:click="changeState('userBlock')"
         v-bind:style="{ backgroundColor: chatState =='userBlock' ? 'rgb(3 218 198 / 60%)' : 'transparent'}">
        بلاک
    </div>
</div>