<div class="modal" v-bind:style="{ display:  modalForRemove == false ? 'none' : 'block'}">
    <div class="modal-sandbox"></div>
    <div class="modal-box">
        <div class="modal-header">
            <div class="close-modal" v-on:click="modalForRemove = false" data-modal="menuGame">&#10006;</div>
            <div class="title" v-show="joinItem.isCreate"> حذف گروه {{ joinItem.uniqueName }}</div>
            <div class="title" v-show="!joinItem.isCreate"> ترک گروه {{ joinItem.uniqueName }}</div>
        </div>
        <div class="modal-body">
            <div v-show="joinItem.isCreate">آیا میخواهید گروه  {{ joinItem.name }} را حذف کنید؟</div>
            <div v-show="!joinItem.isCreate">آیا میخواهید گروه  {{ joinItem.name }} را ترک کنید؟</div>

            <div style="margin:20px 0 0">
                <div class="d-flex">
                    <button v-show="joinItem.isCreate" class="btn btn-red" v-on:click="removeGroup()">حذف گروه</button>
                    <button v-show="!joinItem.isCreate" class="btn btn-red" v-on:click="leftGroup()">ترک گروه</button>
                    <button v-on:click="modalForRemove = false" class="btn btn-line close-modal">انصراف</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div v-show="loding" style="height:100%">
    <div class="lds-hourglass"></div>
</div>

<!------------------------------------->

<div v-show="chatState == 'main' && !loding" style="height: 100%;">

    <div class="d-flex mainTop">
        <i class="icon-logout-1" style="padding: 12px" v-on:click="exitFromGroup()"></i>

        <div> {{joinItem?.name}} </div>

        <i class="icon-menu-meatballs" style="padding: 12px" v-on:click="chatState = 'info'; pinTextEdite = pinText"></i>
    </div>

    <div id="chatList" class="mainCenter mainCenterChat">
        <div class="pinMessage"
             v-on:click="pinPreLine = !pinPreLine"
             v-bind:style="{ 'white-space': pinPreLine ? 'pre-line' : 'nowrap'}">{{pinText}}</div>

        <div v-for="(item, index) in texts" :class="item.my? 'grpMy' : 'grpMyf'">
            <div :class="['chatMain', 'd-flex', `item-${index}`]">
                <div class="chatImg" v-if="!item.my">
                    <div class="chatListUserImg ">
                        <div class="chatUserImg">
                            <img :src="publicApiBaseUrl + item.UserImg + '90.jpg'">
                        </div>
                    </div><div class="chatUserName">{{item.UserName}}</div>
                </div>
                <div class="chatText">
                    <div class="chatBox">
                        <div class="chatInfo">{{item.Name}}</div>
                        <div class="chatInfo">{{item.pDate}}</div>
                        <div class="chatMsg">{{item.Text}}</div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="mainBottom inputText-group mainBottomChat">
        <div class="label" v-on:click="sendMessage()">
            <i class="icon-send-14"></i>
        </div>
        <input v-model="message" class="inputText" placeholder="ارسال پیام" autocomplete="off">
    </div>

</div>