<div class="d-flex">
    <div class="form__group" style="margin-left: 5px;">
        <input v-model="searchModel.UserName" @input="limitText($event,25)" class="form__field" placeholder="نام کاربری">
    </div>
    <div class="form__group" style="margin-left: 5px;">
        <input v-model="searchModel.Name" @input="limitText($event,25)" class="form__field" placeholder="نام">
    </div>
</div>

<div style="margin-top: 14px;"><button v-on:click="search()" class="btn btn-line close-modal">جستجو</button></div>

<div v-for="item in list">

    <div class="listMainMember d-flex">
        <div style="width: 33.33%">
            <div class="userInfo">{{item.name}}</div>
            <div class="userInfo">{{item.userName}}</div>
        </div>
        <div style="width: 33.33%">
            <div class="userImg">
                <img :src="item.img + '90.jpg'">
            </div>
        </div>
        <div style="width: 33.33% ">
            <div class="userInfo">تاریخ درخواست</div>
            <div class="userInfo">{{item.pDate}}</div>
        </div>
    </div>

    <div class="d-flex" style="margin: 0 -14px">
        <div class="userActionBox" v-on:click="modal.item = item; modal.type = 3" style="background: var(--ErrorColor)"> رفع مسدودی </div>
    </div>
</div>
<p style="margin-top:25px" v-show="list.length == 0">مطلبی برای نمایش وجود ندارد</p>

<div class="modal" v-bind:style="{ display: modal.type == 0 ? 'none' : 'block'}">
    <div class="modal-sandbox"></div>
    <div class="modal-box">
        <div class="modal-header">
            <div class="close-modal" v-on:click="resetModal(modal)" data-modal="menuGame">&#10006;</div>
            <div class="title">
                رفع مسدودی {{modal.item.userName}}
            </div>
        </div>
        <div class="modal-body">
            <p> آیا میخاهید کاربر {{modal.item.name}} را از مسدودی خارج کنید</p>
            <div style="margin:20px 0 0">
                <div class="d-flex">
                    <button class="btn btn-red" v-on:click="okModal()">
                        تایید
                    </button>
                    <button v-on:click="resetModal(modal)" class="btn btn-line close-modal">انصراف</button>
                </div>
            </div>

        </div>
    </div>
</div>

