<template id="itemclick-template">
    <div class="itemclickMain" v-show="modal" @click="modal = false">
        <div class="modalBady">

            <div v-if="gameName == 'rangOraz'">
                <div>
                    <div class="modalTarget d-flex" style="margin-top:0">
                        <div class="icon icon-information4" @click="info()"></div>
                        <div v-show="isShowOstad && isMy" class="icon icon-medal4" @click="showOstad()"></div>
                    </div>
                </div>

                <div v-show="isAddTarget && afson == null && !isMy">
                    <div class="modalTarget d-flex">
                        <div class="icon target1 modalTargetItem1" @click="target(0)"></div>
                        <div class="icon target2 modalTargetItem2" @click="target(1)"></div>
                    </div>
                </div>
            </div>

            <div v-if="gameName == 'afsonVajeh'">
                <div>
                    <div class="modalTarget d-flex" style="margin-top:0">
                        <div class="icon icon-information4" @click="info()"></div>
                    </div>
                </div>
                <div v-show="afson != null && !isMy && (afson?.gun || afson?.talk)">
                    <div class="modalTarget d-flex">
                        <div v-show="afson?.gun" class="icon icon-gun" style="color: #ff9797; " @click="addGun()"></div>
                        <div v-show="afson?.talk" class="icon icon-handshake" style="color: #97ffc1; " @click="addTalk()"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="itemclickMain info" v-show="userInfo != null" @click="userInfo = null">
        <div class="modalBady" style="text-align:center">
            <div class="itemImg">
                <img v-if="userInfo != null" :src="userInfo?.info?.Img+'90.jpg'">
            </div>
            <p>{{userInfo?.info?.FirstName}} {{userInfo?.info?.LastName}}</p>
            <p>{{userInfo?.info?.UserName}}</p>
            <p>{{userInfo?.info?.BirthDate}}</p>
            <p>{{userInfo?.info?.Date}}</p>
            <button class="btn btn-Greenlight " v-show="!isMy">درخاست دوستی</button>
        </div>
    </div>

</template>
