
[v-cloak] {
    display: none;
}
.fading-image {
    background-image: url('/img/group.png');
}
.container {
    padding: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.mainCenter {
    height: calc(100% - 80px);
    overflow-y: auto;
    padding: 0px 14px;
}
.mainBottom {
    height: 52px;
    overflow: hidden;
    background: var(--BaseColor);
    margin: 14px;
    border-radius: 14px;
    display: flex;
}
    .mainBottom .item {
        width: 50%;
        text-align: center;
        height: 100%;
        align-items: center;
        display: inline-grid;
    }

.inpSearch {
    margin: 0 -14px;
    border-radius: 0;
    padding: 5px 14px;
    margin-bottom: 20px;
}
.groupItem {
    background: var(--BackgroundColor);
    border-radius: 14px;
    box-shadow: rgb(207 216 236 / 35%) 0px 9px 20px -10px;
    overflow: hidden;
    margin: 25px 14px;
}
.groupItemHeder {
    text-align: center;
    background: var(--BaseColor);
    padding: 5px;
    color: var(--TextColor3);
}
.groupItemCount {
    text-align: center;
    font-size: .7rem;
    border-top: 1px solid #2e6f81;
    padding: 5px 12px;
    color: var(--TextColor2);
}
.groupItemMain {
    padding: 5px 7px
}
.groupItemMain div {
    margin: 5px 0px
}
    .groupItemMain .type, .groupItemMain .info {
        font-size: .7rem;
        color: var(--TextColor3);
    }
.iptLength {
    padding: 0 14px;
    font-size: .7rem;
}
.createGroup .form__group {
    margin: 0
}
.createGroup hr, .info hr {
    margin: 20px 0;
    border-color: var(--TextColor3);
}
.mainCenterChat {
    height: calc(100% - 110px);
    position: relative;
    width: 100%;
    padding-bottom: 20px;
}
.mainBottomChat, .infoBottom {
    height: 70px;
    margin: 0;
    padding: 14px;
    border-radius: 0;
}
.mainTop {
    height: 40px;
    background: var(--BaseColor);
    align-items: center;
    font-size: 0.8rem;
}
.info {
    height: calc(100% - 70px);
    overflow-y: auto;
    padding: 14px
}
    .info p {
        margin: 14px 0;
        text-align: justify;
    }
    .info .t {
        color: var(--TextColor3);
    }
    .info .i {
        padding: 0 12px;
    }
    .info button {
        margin: 20px;
    }
.infoBottom {
    overflow: hidden;
    background: var(--BaseColor);
}
.infoBottomItem {
    text-align: center;
    padding: 0px 7px 5px 7px;
}
    .infoBottomItem .text {
        margin: 0 5px;
        font-size: 0.7rem;
        padding-top: 7px;
    }
.pinMessage {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    background: #2f2f2fcc;
    position: fixed;
    left: 0;
    padding: 5px 14px;
    z-index: 100;
}
.chatImg {
    width: 60px;
    align-content: center;
}
.chatUserImg {
    height: 45px;
    width: 45px;
    overflow: hidden;
    box-shadow: rgb(255 255 255 / 35%) 0px 5px 15px;
    border: 0;
    text-align: center;
    border-radius: 50%;
}
.chatListUserImg {
    /* text-align: center; */
    display: flex !important;
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: center;
    /* align-content: center; */
}
.chatUserName {
    width: 60px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .6rem;
    color: var(--TextColor3);
}
.chatText {
    max-width: 100%;
    padding: 0 14px 0 0;
    align-content: center;
}
.chatBox {
    border-radius: 14px;
    background: #00ff162e;
    padding: 14px;
    text-align: justify;
    position: relative;
    font-size: 0.8rem;
}
    .chatBox::after {
        background-color: #00ff162e;
        clip-path: polygon(0 100%, 0 0, 100% 50%);
        content: "";
        height: 1rem;
        width: 1rem;
        top: calc(50% - .5rem);
        position: absolute;
        right: -0.99rem;
    }
.chatInfo {
    color: var(--TextColor3);
    font-size: 0.6rem;
    margin-bottom: 5px;
}
.mainCenterChat .chatMain {
    margin-top: 20px;
    justify-content: start !important;
}
.mainCenterChat .item-0 {
    margin-top: 50px;
}
.groupItemMain .info {
    padding: 0 14px;
}
.userChatMain {
    margin: 15px -14px;
    padding: 15px;
    align-items: center;
    background: #5d5d5d80;
}
    .userChatMain .chatUserName {
        font-size: 0.8rem;
        width: 100%;
    }
    .userChatMain .chatUserImg {
        height: 55px;
        width: 55px;
    }
.iconTextChat {
    font-size: 0.6rem;
    width: 55px;
    text-align: center;
}
.grpMy .chatMain {
    justify-content: end !important;
}
.grpMy .chatText {
    padding: 0 0 0 14px;
}
.grpMy .chatBox {
    background: #00ceff2e;
}
    .grpMy .chatBox::after {
        right: unset;
        clip-path: polygon(0 50%, 100% 0, 100% 100%);
        background-color: #00ceff2e;
        left: -0.99rem;
    }