:root {
    --BackgroundColor: rgb(20 30 48);
    --BaseColor: rgb(0 71 91);
    --TextColor: rgb(200 200 200);
    --TextColor2: rgb(207 216 236 / 60%);
    --TextColor3: rgb(134 163 235);
    --LinkColor: rgb(3 218 198);
    --BtnColor: rgb(66 72 101);
    --BtnShadowColor: rgb(207 216 236 / 30%);
    --ErrorColor: rgb(207 102 121);
    --SuccessColor: rgb(76 175 80);
    --IconsaxSize: 1.5rem;
}

::-webkit-scrollbar {
    width: 3px; /* عرض اسکرول بار */
}

::-webkit-scrollbar-track {
    background: #888; /* رنگ پس‌زمینه اسکرول بار */
}

::-webkit-scrollbar-thumb {
    background: #555; /* رنگ اسکرول بار */
    border-radius: 6px; /* گرد کردن گوشه‌های اسکرول بار */
}

    ::-webkit-scrollbar-thumb:hover {
        background: #101010; /* رنگ اسکرول بار هنگام هاور */
    }
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
#root, #__next {
    isolation: isolate;
}
.iconsax {
    display:inline-block;
    speak:never;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    line-height:var(--IconsaxSize);
    vertical-align:middle;
}

    .iconsax svg {
        display: block;
        width: var(--IconsaxSize);
        height: var(--IconsaxSize);
    }

.iconsax svg [stroke]{
    stroke:var(--TextColor2);
}

    .iconsax svg [fill] {
        fill: var(--TextColor2);
    }

@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.ttf') format('truetype');
}

body {
    font-family: 'vazir';
}

body {
    background: var(--BackgroundColor);
    color: var(--TextColor);
    direction: rtl;
    /*font-family: 'vazir';*/
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
    a:hover {
        color: #FFFFFF;
    }
.fixTest {
    position: fixed;
    left: 20px;
    top: 20px;
}

.gradient-bc1 {
    background: linear-gradient(89deg, #ff000047, #10ff006b, #0037ff61);
}
.fading-image {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: fixed;
}

    .fading-image::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle, #141e30e6 0%, var(--BackgroundColor) 100%)
    }
.container {
    position: relative;
    padding: 20px 15px;
}
.w100{width:100%}
/*----------modal------*/
.modal,
.modal-box {
    z-index: 900;
}

.modal-sandbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(0,0,0);
    background: rgba(0,0,0,.8);
    overflow: auto;
}

.modal-box {
    position: relative;
    width: 80%;
    max-width: 920px;
    margin: 100px auto;
    animation-name: modalbox;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(0,0,.3,1.6);
}

.modal-header {
    padding: 20px 40px;
    background: var(--BaseColor);
    color: #ffffff;
}

.modal-body {
    background: var(--BackgroundColor);
    padding: 60px 40px;
}

.close-modal {
    position: absolute;
    left: -12px;
    top: -12px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: white;
    text-align: center;
    border-radius: 35px;
    background: var(--BaseColor);
    box-shadow: 0px 0px 20px 0px #ffffff6e;
}
.title {
    font-size: 1.3em;
}
/* Animation */
@-webkit-keyframes modalbox {
    0% {
        top: -250px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes modalbox {
    0% {
        top: -250px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}
.modal-trigger {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: ease .2s;
}

.modal-trigger:hover {
    padding: 20px 60px;
}
/*----------modal------*/

/*----------btn------*/
.btn {
    display: inline-block;
    border-radius: 12px;
    box-shadow: var(--BtnShadowColor) 0px 9px 20px -10px;
    box-sizing: border-box;
    color: var(--TextColor);
    margin: 2px 0;
    padding: 8px 18px;
    user-select: none;
    border: 0;
    background-color: var(--BtnColor);
}
    .btn:active {
        box-shadow: inset var(--BtnShadowColor) 0px -9px 20px -10px;
    }

.btn-line {
    background: transparent;
    border: 2px solid var(--BtnColor);
    box-shadow: var(--BtnShadowColor) 0px 5px 20px -10px;
}
.btn-Greenlight {
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}
.btn .iconsax {
    line-height: 1.2rem;
    float: right;
}
    .btn .iconsax svg {
        width: 1.2rem;
        height: 1.2rem;
    }
/*----------btn------*/
