@{
    ViewData["Title"] = "Pages / Main 25";
    var htmlMain = System.IO.File.ReadAllText("./Views/Pages/Main/main.html");
}
@section css {
    <style>
        .fading-image {
            background-image: url('../img/webHome/1.png');
        }

    </style>
    <link rel="stylesheet" href="~/css/webMain.css" />
}
@section Scripts2 {
    <script>
        const connectionLink = "/nabardkhandehub";
        var gameCount = 6;
    </script>
    <script src="~/lib/signalr.min.js"></script>
    <script src="~/lib/msgpack.min.js"></script>
    <script src="~/lib/signalr-protocol-msgpack.min.js"></script>
}
@section Scripts {
    <script src="~/js/webMain.js"></script>
}
<div class="fading-image"></div>

<div id="comment" style="display:none">
    <span>jsj 1</span>
    <span>jsj 2</span>
    <span>jsj 3</span>
    <span>jsj 4</span>
    <span>jsj 5</span>
</div>

@Html.Raw(htmlMain)