@{
    ViewData["Title"] = "Pages / Main 25";
}
@section css {
    <link rel="stylesheet" href="~/css/webMain25.css" />
}
@section Scripts2 {
    <script src="~/lib/signalr.min.js"></script>
    <script src="~/lib/msgpack.min.js"></script>
    <script src="~/lib/signalr-protocol-msgpack.min.js"></script>
}
@section Scripts {
    <script src="~/js/webMain25.js"></script>
}



<div class="fading-image"></div>
<div class="container">
    <div id="help">تست راهنما</div>
    <div class="d-flex">

        <div class="itemMain">
            <div class="itemImg">
                <i class="iconsax" icon-name="user-2"></i>
            </div>
            <div class="itemName">-</div>
            <div class="userName">-</div>
        </div>

        <div class="itemMain">
            <div class="itemImg">
                <i class="iconsax" icon-name="user-2"></i>
            </div>
            <div class="itemName">-</div>
            <div class="userName">-</div>
        </div>
    </div>
    <div class="d-flex">

        <div class="itemMain">
            <div class="itemImg">
                <i class="iconsax" icon-name="user-2"></i>
            </div>
            <div class="itemName">-</div>
            <div class="userName">-</div>
        </div>
        <div id="userCount">0 نفر</div>
        <div class="itemMain">
            <div class="itemImg">
                <i class="iconsax" icon-name="user-2"></i>
            </div>
            <div class="itemName">-</div>
            <div class="userName">-</div>
        </div>
    </div>
    <div class="d-flex">

        <div class="itemMain">
            <div class="itemImg">
                <i class="iconsax" icon-name="user-2"></i>
            </div>
            <div class="itemName">-</div>
            <div class="userName">-</div>
        </div>

        <div class="itemMain">
            <div class="itemImg">
                <i class="iconsax" icon-name="user-2"></i>
            </div>
            <div class="itemName">-</div>
            <div class="userName">-</div>
        </div>
    </div>

    <button class="btn btn-primary" onclick="f_urlBack()">انصراف</button>
</div>

<div id="comment" style="display:none">
    <span>jsj 1</span>
    <span>jsj 2</span>
    <span>jsj 3</span>
    <span>jsj 4</span>
    <span>jsj 5</span>
</div>