@{
    ViewData["Title"] = "Pages / Main 45";
    var htmlMain = System.IO.File.ReadAllText("./Views/Pages/Main/main.html");
}
@section css {
    <style>
        .d-flex {
            justify-content: space-around !important;
        }
    </style>
    <link rel="stylesheet" href="~/css/webMain.css" cache="inPage" />
}
@section Scripts2 {
    <script>
        const connectionLink = "/rangrazhub";
        var gameCount = 5;
    </script>
    <script src="~/lib/signalr.min.js"></script>
    <script src="~/lib/msgpack.min.js"></script>
    <script src="~/lib/signalr-protocol-msgpack.min.js"></script>
}
@section Scripts {
    <script src="~/js/webMain.js" cache="inFile"></script>
}
<div class="fading-image image2"></div>

<div id="comment" style="display:none">
    <span>jsj 1</span>
    <span>jsj 2</span>
    <span>jsj 3</span>
    <span>jsj 4</span>
    <span>jsj 5</span>
</div>

@Html.Raw(htmlMain)