@{
    ViewData["Title"] = "Pages / Main 45";
}
@section css {
    <link rel="stylesheet" href="~/css/webMain45.css" />
}
@section Scripts {
    <script src="~/js/Main45.js"></script>
}

<div class="fading-image"></div>
<div class="container">
    <button class="btn btn-primary" onclick="f_urlBack()">بازگشت</button>
</div>