@{
    ViewData["Title"] = "Pages / Main 68";
}
@section css {
    <link rel="stylesheet" href="~/css/webMain68.css" />
}
@section Scripts {
    <script src="~/js/Main68.js"></script>
}

<div class="fading-image"></div>
<div class="container">
    <button class="btn btn-primary" onclick="f_UrlBack()">بازگشت</button>
</div>