<div class="container">
    <div id="help">تست راهنما</div>
    <div id="mainList">
        <div class="d-flex">

            <div class="itemMain">
                <div class="itemImg">
                    <i class="iconsax" icon-name="user-2"></i>
                </div>
                <div class="itemName">-</div>
                <div class="userName">-</div>
            </div>

            <div class="itemMain">
                <div class="itemImg">
                    <i class="iconsax" icon-name="user-2"></i>
                </div>
                <div class="itemName">-</div>
                <div class="userName">-</div>
            </div>
        </div>
        <div class="d-flex">

            <div class="itemMain">
                <div class="itemImg">
                    <i class="iconsax" icon-name="user-2"></i>
                </div>
                <div class="itemName">-</div>
                <div class="userName">-</div>
            </div>
            <div id="userCount">0 نفر</div>
            <div class="itemMain">
                <div class="itemImg">
                    <i class="iconsax" icon-name="user-2"></i>
                </div>
                <div class="itemName">-</div>
                <div class="userName">-</div>
            </div>
        </div>
        <div class="d-flex">

            <div class="itemMain">
                <div class="itemImg">
                    <i class="iconsax" icon-name="user-2"></i>
                </div>
                <div class="itemName">-</div>
                <div class="userName">-</div>
            </div>

            <div class="itemMain">
                <div class="itemImg">
                    <i class="iconsax" icon-name="user-2"></i>
                </div>
                <div class="itemName">-</div>
                <div class="userName">-</div>
            </div>
        </div>
        <div class="d-flex">

            <div class="itemMain">
                <div class="itemImg">
                    <i class="iconsax" icon-name="user-2"></i>
                </div>
                <div class="itemName">-</div>
                <div class="userName">-</div>
            </div>

            <div class="itemMain">
                <div class="itemImg">
                    <i class="iconsax" icon-name="user-2"></i>
                </div>
                <div class="itemName">-</div>
                <div class="userName">-</div>
            </div>
        </div>
        <div class="d-flex">

            <div class="itemMain">
                <div class="itemImg">
                    <i class="iconsax" icon-name="user-2"></i>
                </div>
                <div class="itemName">-</div>
                <div class="userName">-</div>
            </div>

            <div class="itemMain">
                <div class="itemImg">
                    <i class="iconsax" icon-name="user-2"></i>
                </div>
                <div class="itemName">-</div>
                <div class="userName">-</div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" onclick="f_urlBack()">انصراف</button>
</div>