@{
    ViewData["Title"] = "Pages / Home";
}
@section css {
    <link rel="stylesheet" href="~/css/webHome.css" />
}
@section Scripts {
    <script src="~/js/webHome.js"></script>
}

<div class="divMain" data-link="25">
    <div class="spanName">نبرد خنده</div>
    <img class="mainImg" src="~/img/webHome/1.png" />
</div>

<div class="divMain" data-link="45">
    <div class="spanName gradient-bc1">رنگ و راز</div>
    <img class="mainImg" src="~/img/webHome/2.png" />
</div>

<div class="divMain" data-link="68">
    <div class="spanName">افسون واژه</div>
    <img class="mainImg" src="~/img/webHome/3.png" />
</div>

<div class="divMain" data-link="89">
    <div class="spanName">مافیا</div>
    <img class="mainImg" src="~/img/webHome/4.png" />
</div>


<div class="modal" id="menuGame">
    <div class="modal-sandbox"></div>
    <div class="modal-box">
        <div class="modal-header">
            <div class="close-modal" data-modal="menuGame">&#10006;</div>
            <div class="title"></div>
        </div>
        <div class="modal-body">
            <button class="btn w100" onclick=""><i class="iconsax" icon-name="info-badge"></i> راهنما</button>
            <button class="btn w100" id="btnTestKhande"><i class="iconsax" icon-name="emoji-happy"></i> تست لبخند</button>
            <button class="btn btn-line w100"><i class="iconsax" icon-name="lock-circle"></i> ایجاد اتاق</button>
            <button class="btn btn-line w100"><i class="iconsax" icon-name="key-square"></i> ورود به اتاق</button>
            <button class="btn btn-Greenlight w100"> <i class="iconsax" icon-name="lock-1"></i> شروع بازی</button>
        </div>
    </div>
</div>


<div class="modal" id="joinRoom">
    <div class="modal-sandbox"></div>
    <div class="modal-box">
        <div class="modal-header">
            <div class="close-modal" data-modal="menuGame">&#10006;</div>
            <div class="title">ورود به اتاق</div>
        </div>
        <div class="modal-body">
        </div>
    </div>
</div>

<div class="modal" id="creatRoom">
    <div class="modal-sandbox"></div>
    <div class="modal-box">
        <div class="modal-header">
            <div class="close-modal" data-modal="menuGame">&#10006;</div>
            <div class="title">ایجاد اتاق</div>
        </div>
        <div class="modal-body">
        </div>
    </div>
</div>