@{
    ViewData["Title"] = "Pages / Home";
}
@section css {
    <link rel="stylesheet" href="~/css/webHome.css" />
}
@section Scripts {
    <script src="~/js/webHome.js"></script>
}

<div class="divMain" data-link="25">
    <div class="spanName">نبرد خنده</div>
    <img class="mainImg" src="~/img/1.png" />
</div>

<div class="divMain" data-link="45">
    <div class="spanName gradient-bc1">رنگ و راز</div>
    <img class="mainImg" src="~/img/2.png" />
</div>

<div class="divMain" data-link="68">
    <div class="spanName">افسون واژه</div>
    <img class="mainImg" src="~/img/3.png" />
</div>

<div class="divMain" data-link="89">
    <div class="spanName">مافیا</div>
    <img class="mainImg" src="~/img/4.png" />
</div>


<div class="modal" id="menuGame">
    <div class="modal-sandbox"></div>
    <div class="modal-box">
        <div class="modal-header">
            <div class="close-modal" data-modal="menuGame">&#10006;</div>
            <div class="title"></div>
        </div>
        <div class="modal-body">
            <button class="btn w100" onclick="f_urlHelp()"><i class="icon-information4"></i> راهنما</button>
            <button class="btn w100" onclick="f_testKhande()" id="btnTestKhande"><i class="icon-emoji-happy4"></i> تست لبخند</button>
            <button class="btn btn-line w100" onclick="createRoom()"><i class="icon-lock-circle"></i> ایجاد اتاق</button>
            <button class="btn btn-line w100" onclick="joinRoom()"><i class="icon-key-square4"></i> ورود به اتاق</button>
            <button class="btn btn-Greenlight w100" onclick="f_urlMain()"> <i class="icon-game4"></i> شروع بازی</button>
        </div>
    </div>
</div>


<div class="modal" id="joinRoom">
    <div class="modal-sandbox"></div>
    <div class="modal-box">
        <div class="modal-header">
            <div class="close-modal" data-modal="menuGame">&#10006;</div>
            <div class="title">ورود به اتاق</div>
        </div>
        <div class="modal-body">
        </div>
    </div>
</div>

<div class="modal" id="createRoom">
    <div class="modal-sandbox"></div>
    <div class="modal-box">
        <div class="modal-header">
            <div class="close-modal" data-modal="menuGame">&#10006;</div>
            <div class="title">ایجاد اتاق</div>
        </div>
        <div class="modal-body">
        </div>
    </div>
</div>