@{
    ViewData["Title"] = "Pages / Home";
}
@section css {
    <link rel="stylesheet" href="~/css/webHome.css" />
}
@section Scripts {
    <script src="~/js/webHome.js"></script>
}

<div class="divMain" data-link="25">
    <div class="spanName">نبرد خنده</div>
    <img class="mainImg" src="~/img/webHome/1.png" />
</div>

<div class="divMain" data-link="45">
    <div class="spanName gradient-bc1">رنگ و راز</div>
    <img class="mainImg" src="~/img/webHome/2.png" />
</div>

<div class="divMain" data-link="68">
    <div class="spanName">افسون واژه</div>
    <img class="mainImg" src="~/img/webHome/3.png" />
</div>

<div class="divMain" data-link="89">
    <div class="spanName">مافیا</div>
    <img class="mainImg" src="~/img/webHome/4.png" />
</div>
