@{
    ViewData["Title"] = "Pages";
}


<a class="page-scroll" href="~/pages/Home" style="color:red">link</a>
<a class="page-scroll" href="~/pages/Main25" style="color:red">Main25</a>
<a class="page-scroll" href="~/pages/Main45" style="color:red">Main45</a>
<a class="page-scroll" href="~/pages/Main68" style="color:red">Main68</a>
<a class="page-scroll" href="~/pages/Main89" style="color:red">Main89</a>

