@{
    ViewData["Title"] = "Pages / Main 89";
}
@section css {
    <link rel="stylesheet" href="~/css/webMain89.css" />
}
@section Scripts {
    <script src="~/js/Main89.js"></script>
}
<div class="fading-image"></div>
<div class="container">
        <button class="btn btn-primary" onclick="fUrlBack()">بازگشت</button>
</div>
