@section css {
    <link rel="stylesheet" href="~/css/wheelFortune.css" cache="inPage" />
}
@section Scripts {
    <script src="~/js/wheelFortune.js" cache="inFile"></script>
}


<div class="fading-image"></div>
<div class="container">
    <div class="wheelMain">
        <fieldset class="ui-wheel-of-fortune">
            <img id="wheel" src="~/img/WheelFortune.jpg" />
            <button type="button" onclick="rotateElement()">چرخش</button>
        </fieldset>
    </div>
</div>
