
.fading-image {
    background-image: url('/img/4.png');
}

    .fading-image::after {
        background: radial-gradient(circle, #141e30b8 0%, var(--BackgroundColor) 100%);
    }
.mainItem {height:100%}
.imgStatus.icon-mask {
    line-height: 2rem;
    font-size: 2rem;
    color: #999999;
    background: #1c1c1c;
}
.soundDiv, .soundDiv2 {
    position: fixed;
    text-align: center;
}
    .soundDiv i, .soundDiv2 i{
        color: rgb(255 0 0);
    }
.containerGame .Night .mainTop {
    background: rgb(0 13 31);
}
.containerGame .Night .mainBottom {
    background: rgb(0 13 31);
}
.containerGame .Night .main {
    background: rgb(0 0 0 / 65%);
}
.naghshCard{text-align:center}.helpMain .main {
    height: calc(100% - 180px);
    overflow-y: auto;
    padding: 14px;
}
.helpMain .mainBottom {
    padding: 0;
}
.helpMain .item {
    height: 60px;
    display: inline-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    flex-direction: column;
    width: 25%;
    text-align: center;
}.helpMain .item span {
    font-size: 0.7rem;
}.helpIcon, .helpTitle {
    text-align: center;
}
.helpIcon i{
    font-size: 6rem;
    line-height: 6rem;
}
.helpTitle {
    font-size: 1rem;
    font-weight: bold;
}
.helpMain hr {
    margin: 14px 0;
    border-color: var(--TextColor3);
}
.helpMain p {
    line-height: 2.2rem;
}
.helpMain .mainBottom {
    height: 180px;
    font-size: .7rem;
}
.helpMain .main [class^="icon-"]{
    color: var(--TextColor2) !important;
}
.raygiriIcon.icon-hand {
    color: #00ff5d;
}
.imgStatus.icon-mafia1, .imgStatus.icon-mafia2, .imgStatus.icon-mafia3 {
    line-height: 2rem;
    font-size: 2rem;
    color: #000000;
    background: #bbbbbb;
}
.mainCenter{
    width: 100%;
    overflow: auto;
}
.mainCenterChat {
    background: #00ceff2e;
    border-radius: 5px;
    padding: 5px;
    margin-top: 12px;
    font-size: 0.8rem;
    overflow: hidden;
}
.icon-mask.ofline, .icon-mafia1.ofline, .icon-mafia2.ofline, .icon-mafia3.ofline {
    background: #7d2e2e;
}
.listMain {
    height: unset;
}
.ras{
    color: var(--LinkColor);
    margin-top: 12px;
}
.raq {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 14px 0;
}
.rwa {
    width: 30%;
    margin: 5px 1.15%;
    border: 1px solid var(--TextColor2);
    padding: 14px 0;
}
.rwa2 {
    font-size: 0.8rem;
    margin-top: 5px;
}
.itemMain {
    width: 60px;
}
.itemImg {
    height: 50px;
    width: 50px;
}
.imgStatus[class*="icon-"] {
    padding: 8px;
}
.stickerVideo {
    width: 45px;
    height: 45px;
}
.itemMain .itemName, .itemMain .userName {
    max-width: 60px;
}
.chaosMsg2 {
    text-align: center;
    font-size: 0.8rem;
    padding: 5px;
    height: 60px;
    overflow: hidden
}