
<div id="mainRoom" style="display:none">
    <div class="mainTop d-flex">
        <div class="mainTopItem" info="createRoom">
            <i class="iconsax" icon-name="add-square"></i>
            <span>ایجاد اتاق</span>
        </div>
        <div class="mainTopItem" info="refresh">
            <i class="iconsax" icon-name="refresh"></i>
        </div>
        <div class="mainTopItem" info="back">
            <span>بازگشت</span>
            <i class="iconsax" icon-name="sidebar-left"></i>
        </div>
    </div>
    <div id="mainList">
    </div>
    <div class="mainBottom inputText-group">
        <div class="label" id="mainSearch"><i class="iconsax" icon-name="search-normal-2"></i></div>
        <input id="inpMain" class="inputText" />

    </div>
</div>

<div class="modal" id="createRoom">
    <div class="modal-sandbox"></div>
    <div class="modal-box">
        <div class="modal-header">
            <div class="close-modal" data-modal="menuGame">&#10006;</div>
            <div class="title">ایجاد اتاق</div>
        </div>
        <div class="modal-body">
        </div>
    </div>
</div>