
<div id="thisRoom" style="display:none">

    <div class="mainTop d-flex">
        <div class="mainTopItem" id="exitRoom">
            <i class="iconsax" icon-name="logout-1"></i>
            <div class="text">خروج ازاتاق</div>
        </div>
        <div id="mainTopCount" class="text">اعضای حاضر 0 از 10</div>
        
        <div id="roomTopTrashName" class="text" style=" text-align: center; display: none">
        </div>

        <div class="mainTopItem" id="roomTopTrash" style="display:none">
            <i class="iconsax" icon-name="trash"></i>
            <div class="text">حذف اتاق</div>
        </div>
    </div>

    <div class="d-flex" id="roomTopUserList" style="margin: 5px 7px;">
    </div>

    <div id="roomList">

        <div class="chatMain d-flex">
            <div class="chatImg">
                <div class="roomListUserImg">
                    <div class="roomTopUserImg"><img src="https://localhost:7230/img/webHome/1.png" /></div>
                </div>
            </div>
            <div class="chatText">
                <div class="chatBox">
                    <div class="chatInfo">test <br /> test</div>
                    <div class="chatMsg">xzsd sfs sf sdf</div>

                </div>
            </div>
        </div>

        <div class="chatMain myText d-flex">
            <div class="chatText">
                <div class="chatBox">
                    <div class="chatInfo">test <br /> test</div>
                    <div class="chatMsg">xzsd sfs sf sdf</div>
                </div>
            </div>
            <div class="chatImg">
                <div class="roomListUserImg">
                    <div class="roomTopUserImg"><img src="https://localhost:7230/img/webHome/1.png" /></div>
                </div>
            </div>
        </div>

    </div>

    <div class="mainBottom inputText-group">
        <div class="label" id="sendMessage"><i class="iconsax" icon-name="send-1"></i></div>
        <input id="inpMessage" class="inputText" placeholder="ارسال پیام" />

    </div>
</div>

<div class="modal" id="roomUserList">
    <div class="modal-sandbox"></div>
    <div class="modal-box">
        <div class="modal-header">
            <div class="close-modal" data-modal="menuGame">&#10006;</div>
            <div class="title">حاضرین در اتاق</div>
        </div>
        <div class="modal-body" id="roomUserListBody">

        </div>
    </div>
</div>

<div class="modal" id="roomTrash">
    <div class="modal-sandbox"></div>
    <div class="modal-box">
        <div class="modal-header">
            <div class="close-modal" data-modal="menuGame">&#10006;</div>
            <div class="title">حذف اتاق</div>
        </div>
        <div class="modal-body">

            <div>ایا قصد حذف اتاق را دارید؟</div>

            <div id="creatRoomfotter" style="margin:20px 0 0">
                <div class="d-flex">
                    <button class="btn btn-red" onclick="trashRoom()">حذف</button>
                    <button class="btn btn-line close-modal">انصراف</button>
                </div>
            </div>
        </div>
    </div>
</div>