.fading-image {
    background-image: url('/img/2.png');
}
.mainRight {
    width: 80px;
    height: 100%;
    position: relative;
    float: right;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-direction: column;
    padding: 12px 0;
}
.mainLeft {
    display: flex;
    width: calc(100% - 80px);
    height: 100%;
    position: relative;
    float: left;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.itemMain {
    width: 80px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.6rem;
    z-index: 1001;
    height: 20%;
}
.itemImg {
    height: 60px;
    width: 60px;
    margin: auto;
    overflow: hidden;
    background-color: #243b55bf;
    box-shadow: 0 5px 12px 2px #4b4b4b80;
    border: 1px solid rgba(255, 255, 255, .15);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sitNumber {
    font-size: 0.7rem;
    background: red;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    margin: 0 10px;
}
.itemMain6 {
    margin: 0 auto;
    height: 120px;
}
.paint{
    width:100%;
}
.paint img{
    width: 100%;
}
.soundDiv {
    height: 25px;
}
.soundDiv i{
}
.soundDiv svg [stroke] {
    stroke: rgb(255 0 0);
}
