<template id="paint-template">
    <div class="main">
        <div>موضوع نقاشی</div>

        <canvas id="canvas" class="paint"></canvas>
        <div class="d-flex">
            <input v-show="erasing" v-model="erasingWidth"
                   type="range" max="60" min="10" style="width: calc(100% - 100px);" />
            <input v-show="!erasing" v-model="penWidth"
                   type="range" max="30" min="1" style="width: calc(100% - 100px);" />
            <div class="pakkon" @click="erasing = !erasing">
                <div :class="erasing==true? 'icon-eraser-14':'icon-edit-24'"></div>
                <div>{{ erasing==true? 'پاک‌کن':'قلم'}}</div>
            </div>
        </div>
    </div>
    <div class="progressVrbar awa32sdaf">
        <div style="height:0px"></div>
    </div>

</template>