

<template id="mainitem-template">

    <div :class="left == true ? 'mainLeft':'mainRight'">
        <div v-for="user in users" class="itemMain">
            <div :class="left == true? 'ltr':'rtl'">
                <div class="sitNumber">{{ user.row }}</div>
            </div>
            <div :class="'itemMain' + user.row" @click="itemMainClick(user.row)">
                <div class="itemImg">
                    <img :src="user.info.Img + '90.jpg'" />
                    <div :class="itemStatus(user)"></div>
                </div>
                <div class="itemName">{{ user.info.FirstName }}</div>
                <div class="userName">{{ user.info.UserName }}</div>
            </div>
        </div>
    </div>

</template>

<template id="main-template">
    <div class="mainTemplate">
        <div class="mainTop d-flex">
            <div class="mainTopPeriod"><i :class="appModel.nightMode? 'icon-moon2':'icon-sun'"></i> {{door}}</div>
            <div class="mainTopTitle" @click="appModel.state = 'help'">
                <div style="text-align: center;"><i :class="naghsh?.icon"></i></div>
            </div>
            <div class="mainTopTime">{{mainTopTime}}</div>
        </div>

        <div class="progressbar aw213sdaf">
            <div :style="{ width: progressbarWidth }"></div>
        </div>

        <div class="main">
            <div class="mainItem d-flex">
                <mainitem-component v-if="users.length > 0" :app-model="appModel"
                                    :users="users.slice(0, 5)"
                                    :left="false"></mainitem-component>
                <mainitem-component v-if="users.length > 0" :app-model="appModel"
                                    :users="users.slice(5)"
                                    :left="true"></mainitem-component>
            </div>

            <div class="soundDiv">
                <i class="icon-radar-14" :style="{ display: soundDivI == true ? 'inline-block':'none'}"></i>
            </div>
        </div>

        <div class="mainBottom">
            <div v-show="raye" @click="setRaye()" style="text-align:center">
                <i class="icon-hand"></i>
            </div>

            <div v-if="cancelBtn" @click="setCancel()" style="text-align:center">
                <i class="icon-chevron-square-right"></i>
                <span style="margin-right: 12px;">بعدی</span>
            </div>
            
            <div v-if="!cancelBtn && !raye" class="d-flex">
                <div>
                    <i :class="iconClass.like" onclick="sticker.handleUpdate('l1')"></i>
                    <i :class="iconClass.dislike" onclick="sticker.handleUpdate('l2')" style="margin-right: 12px;"></i>
                </div>
                <i :class="iconClass.sticker" onclick="sticker.toggleTab()"></i>
                <i :class="iconClass.chalesh" @click="addChalesh()"></i>
            </div>
        </div>
    </div>

    <sticker-component></sticker-component>

</template>

