.fading-image {
    background-image: url('/img/2.png');
}
.mainRight {
    width: 80px;
    height: 100%;
    position: relative;
    float: right;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-direction: column;
    padding: 12px 0;
}
.mainRight i{
    font-size: 1.2rem;
}
.mainLeft {
    display: flex;
    width: calc(100% - 80px);
    height: 100%;
    position: relative;
    float: left;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.itemMain {
    width: 80px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.6rem;
    z-index: 1001;
    height: 20%;
}
.itemImg {
    height: 60px;
    width: 60px;
    margin: auto;
    overflow: hidden;
    background-color: #243b55bf;
    box-shadow: 0 5px 12px 2px #4b4b4b80;
    border: 1px solid rgba(255, 255, 255, .15);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sitNumber {
    font-size: 0.7rem;
    background: red;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    margin: 0 10px;
}
.itemMain6 {
    margin: 0 auto;
    height: 120px;
}
.soundDiv {
    height: 25px;
}
.soundDiv i{
    color: rgb(255 0 0);
}
.paint, paintImg {
    width: 100%;
}
.paintImg img {
    width: 100%;
}
.paint {
    margin: 14px 0;
    margin: auto;
}
.paintMain .main, .imgsForSpyMain .main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 14px
}
.imgResivde{
    width: 200px;
    transform: rotate(90deg);
    margin: auto;
}
.helpMain .main {
    height: calc(100% - 80px);
    overflow-y: auto;
    padding: 14px;
}
.helpMain .mainBottom {
    height: 80px;
    padding: 0;
}
.helpMain .item i {
    font-size: 2rem;
}
.helpMain .item span {
    font-size: 0.7rem;
}
.helpMain .item {
    height: 100%;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    flex-direction: column;
    width: 16.66%;
    text-align: center;
}
.helpIcon, .helpTitle {
    text-align: center;
}
.helpIcon i{
    font-size: 8rem;
    line-height: 8rem;
}
.helpTitle {
    font-size: 1.5rem;
    font-weight: bold;
}
.helpMain hr {
    margin: 14px 0;
    border-color: var(--TextColor3);
}
.helpMain p {
    line-height: 2.2rem;
}
.pakkon {
    width: 70px;
    height: 70px;
    padding: 5px;
    border: 1px solid var(--TextColor2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    color: var(--TextColor2);
    transform: rotate(-90deg);
}

.imgsForSpyMain .img {
    position: relative;
    width: 225px;
    height: 150px;
    margin: auto;
    overflow: hidden
}
    .imgsForSpyMain .img img {
        width: 150px;
        height: 225px;
        background: white;
        transform: translateX(-37px) translateY(-37px) rotate(-90deg);
    }
.imgsForSpyMain .progressbar {
    position: fixed;
    top: 7px;
}
.mainBottom i {
    padding: 5px;
}   